html,
body {
    width: 1440px;
    margin: 0;
}

.main_contents {
    width: 1440px;
    margin: 0;
}

.benner {
    width: 1440px;
    height: 156px;
    margin: 0;
    background-color: #fff;
}

.up_benner {
    width: 1050px;
    height: 100px;
    margin: 0 auto;
    display: block;
    position: relative;
}

.up_up {
    width: 181.148px;
    height: 35px;
    position: absolute;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    top: 0;
    right: 0;
}

.line {
    width: 1px;
    height: 13px;
    margin: 0px 12px;
    background-color: rgb(217, 217, 217);
    box-sizing: border-box;
    font-size: 12px;
    letter-spacing: -0.3px;
    color: #333;
}

.sign {
    display: block;
    color: rgb(95, 0, 128);
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    font-size: 12px;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    letter-spacing: -0.3px;
}

.login {
    display: block;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    font-size: 12px;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    letter-spacing: -0.3px;
}

.up_down {
    width: 1050px;
    height: 64px;
    padding-top: 36px;
    margin: 0;
}

.up_logo {
    width: 1050px;
    height: 63px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.up_logo img {
    width: 82px;
    height: 42px;
}

.up_logo_btn1 {
    font-weight: 500;
    color: rgb(95, 0, 128);
    margin-left: 20px;
    font-size: 18px;
    overflow: visible;
    background-color: transparent;
    border: none;
}

.up_logo_btn2 {
    flex-shrink: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: rgb(181, 181, 181);
    cursor: pointer;
    position: relative;
    margin-left: 22px;
    overflow: visible;
    background-color: transparent;
    border: none;
}

.up_searchbar_position {
    position: relative;
    width: 1050px;
    margin: 0px auto;
    display: block;
}

.up_searchbar {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: absolute;
    left: 325px;
    top: -55px;
    width: 400px;
    height: 48px;
    padding-left: 14px;
    border: 1px solid rgb(95, 0, 128);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(247 247 247) 0px 0px 0px 1px inset;
}

.up_searchbar_input {
    width: 300px;
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 16px;
    letter-spacing: -0.33px;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    color: #333;
}

.up_searchbar_button {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 10px;
    bottom: 3px;
    border: none;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgzNnYzNkgweiIvPgogICAgICAgIDxnIHN0cm9rZT0iIzVGMDA4MCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNyI+CiAgICAgICAgICAgIDxwYXRoIGQ9Im0yNi4wODEgMjYuMDgxLTQuMTItNC4xMk0xNi40NjcgMjMuMzM0YTYuODY3IDYuODY3IDAgMSAwIDAtMTMuNzM0IDYuODY3IDYuODY3IDAgMCAwIDAgMTMuNzM0eiIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==) 0px 0px no-repeat;
}

.up_icon {
    position: relative;
    width: 1050px;
    margin: 0px auto;
    display: block;
    padding: 0;
}

.up_icon_box {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    right: -6px;
    top: -49px;
}

.icon1 {
    width: 36px;
    height: 36px;
    margin-right: 20px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4LjcgNikiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJNOS4zMDYgMjRTMCAxNi41NDQgMCA5LjMwNmE5LjMwNiA5LjMwNiAwIDAgMSAxOC42MTIgMEMxOC42MTIgMTYuNTQ0IDkuMzA2IDI0IDkuMzA2IDI0eiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgY3g9IjkuMjEyIiBjeT0iOS4xMjMiIHI9IjIuNzg0Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K) 50% 50% no-repeat;
    cursor: pointer;
    border: none;
}

.icon2 {
    width: 36px;
    height: 36px;
    border: none;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yOC45MjcgOC44OTNhNi40NiA2LjQ2IDAgMCAwLTkuMTM5IDBsLTEuODI5IDEuODI4LTEuODI3LTEuODI4YTYuNDYyIDYuNDYyIDAgMSAwLTkuMTQgOS4xMzhMOC44MiAxOS44Nmw4LjQzMiA4LjQzNGExIDEgMCAwIDAgMS40MTQgMGw4LjQzMy04LjQzNGgwbDEuODI4LTEuODI4YTYuNDYgNi40NiAwIDAgMCAwLTkuMTM4eiIgc3Ryb2tlPSIjMzMzIiBzdHJva2Utd2lkdGg9IjEuNyIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==) 50% 50% no-repeat;
}

.icon3_box {
    position: relative;
    margin-left: 20px;
}

.icon3 {
    display: block;
    width: 36px;
    height: 36px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1LjE2NCA2LjU0NykiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJtMjUuNjggMy42Ni0yLjcyIDExLjU3SDcuMzdMNC42NiAzLjY2eiIvPgogICAgICAgICAgICA8Y2lyY2xlIGN4PSIyMC41MiIgY3k9IjIwLjc4IiByPSIyLjE0Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgY3g9IjkuODEiIGN5PSIyMC43OCIgcj0iMi4xNCIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMCAwaDMuOGwxLjc2IDcuNSIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==);
    cursor: pointer;
    border: none;
}



.down_benner {
    letter-spacing: -0.3px;
    position: relative;
    box-shadow: rgb(0 0 0 / 7%) 0px 3px 4px 0px;
    width: 1440px;
    height: 56px;
}

.category_box {
    position: relative;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 1050px;
    height: 56px;
    margin: 0px auto;
}

.category {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}

.category_img {
    width: 16px;
    height: 14px;
    margin-right: 14px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMTZ2MS43SDBWMHptMCA2LjE1aDE2djEuN0gwdi0xLjd6bTAgNi4xNWgxNlYxNEgwdi0xLjd6IiBmaWxsPSIjMzMzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==) 0px 0px / 16px 14px no-repeat;
}

.category_txt {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgb(51, 51, 51);
}

.menu_box {
    display: flex;
    margin-left: 30px;
    margin: 0;
}

.menu_txt_box {
    display: flex;
    width: 150px;
    height: 37px;

    padding-top: 18px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.menu_txt {
    font-size: 16px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    cursor: pointer;
    list-style-type: none;
    letter-spacing: -0.3px;
    text-align: center;
}

.promotion_box {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.promotion_content {
    width: 87.594;
    height: 18px;
    padding: 6px 16px;
    border-radius: 18px;
    border: 1px solid rgb(238, 238, 238);
    color: rgb(102, 102, 102);
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.32px;
    background-color: transparent;
    text-decoration: none;
}

.promotion_txt {
    font-weight: 500;
    color: rgb(95, 0, 128);
}


.login_back {
    min-width: 1440px;
    height: 345.945px;
    margin-top: 90px;
    margin-bottom: 60px;
    background-color: rgb(255, 255, 255);
}
.login_word{
    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}
.login_box{
    width: 340px;
    margin: 0px auto;
    letter-spacing: -0.6px;
}



.footer {
    width: 1440px;
    height: 494px;
    padding-top: 29px;
    border-top: 1px solid rgb(247, 247, 247);
}

.up_footer {
    width: 1050px;
    height: 392px;
    margin: 0px auto;
}

.up_up_footer {
    width: 1050px;
    height: 221.5px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    padding-bottom: 67px;
}

.left_div {
    width: 436px;
    height: 221.5px;
}

.left_div h2 {
    padding-bottom: 17px;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #333;
}

.left_div span {
    margin-left: 8px;
    font-weight: normal;
    font-size: 16px;
}

.left_div strong {
    display: block;
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 40px;
    font-weight: 700;
}

.footer_btn {
    width: 436px;
    height: 40px;
    margin-bottom: 38px;
}

.footer_btn button {
    width: 140px;
    height: 40px;
    border: 1px solid rgb(226, 226, 226);
    overflow: visible;
    background-color: transparent;
    border-radius: 3px;
    line-height: 39px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.footer_btn2 {
    margin-left: 8px;
}

.footer_email {
    font-size: 12px;
    line-height: 18px;
    color: rgb(153, 153, 153);
}

.footer_email a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

.right_div {
    width: 456.422px;
    height: 221.5px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.right_div_ul {
    display: flex;
    width: 100%;
    padding-bottom: 29px;
    padding-left: 0;
    margin: 0;
}

.right_li {
    margin-left: 0px;
    font-size: 14px;
    color: #333;
    list-style-type: none;
}

.right_li2 {
    margin-left: 0px;
    font-size: 14px;
    color: #333;
    margin-left: 14px;
    list-style-type: none;
}

.right_a {
    font-size: 14px;
    line-height: 18px;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

.right_info {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: rgb(153, 153, 153);
    margin: 0;
}

.right_info a {
    margin-left: 3px;
    color: rgb(95, 0, 128);
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
}

.right_info_span {
    padding-left: 4px;
    font-weight: 400;
    line-height: 18px;
    color: rgb(153, 153, 153);
}

.right_info_span::after {
    content: "|";
    padding-right: 4px;
    font-size: 10px;
    vertical-align: top;
}

.right_sns {
    width: 456.422px;
    height: 30px;
    display: flex;
    padding-top: 28px;
    padding-left: 0;
}

.right_sns a {
    width: 30px;
    height: 30px;
    display: flex;
    margin-right: 10px;
}

.right_sns_img {
    width: 30px;
    height: 30px;
    border: 0;
    vertical-align: top;
}

.up_down_footer {
    width: 1050px;
    height: 43.5px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 26px 0px 33px;
    border-top: 1px solid rgb(238, 238, 238);
}

.up_down_footer button {
    display: flex;
    text-align: left;
    font-size: 14px;
    color: #333;
    overflow: visible;
    background-color: transparent;
    border: none;
}

.up_down_footer_img {
    width: 34px;
    margin-right: 10px;
}

.toss_img {
    width: 102px;
    height: 32px;
    margin-right: 10px;
    max-width: 100%;
}

.up_down_footer p {
    font-size: 10px;
    line-height: 14.5px;
    color: rgb(153, 153, 153);
    word-break: break-word;
    padding: 0;
    margin: 0;
}

.down_footer {
    width: 1440px;
    height: 52px;
    margin: 0;
    padding: 20px 0px 30px;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    background-color: rgb(247, 247, 247);
    color: rgb(153, 153, 153);
}

.right {
    display: block;
    padding-top: 7px;
    font-style: normal;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    background-color: rgb(247, 247, 247);
    color: rgb(153, 153, 153);
}